@{
    var session = (UserLogin)Session[WebsiteNoiThat.Common.Commoncontent.user_sesion];
}

@if (session != null)
{
    <div class="d-inline-flex align-items-center">
        <a href="/RegisterAndLogin/ViewCurentUser" class="btn border mr-2">
            <i class="fas fa-user text-primary"></i>
        </a>
        <div class="dropdown">
            <button class="btn border dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                @session.Username
            </button>
            <ul class="dropdown-menu" aria-labelledby="userDropdown">
                <li>
                    <a class="dropdown-item" href="/Cart/HistoryCart">
                        <i class="fas fa-history text-primary mr-2"></i>Lịch sử mua hàng
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="#">
                        <i class="fas fa-credit-card text-primary mr-2"></i>Thẻ tích điểm: @ViewBag.Card
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("Card", "RegisterAndLogin", new { @UserId=session.UserId })">
                        <i class="fas fa-plus-circle text-primary mr-2"></i>Đăng ký thẻ tích điểm
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <a class="dropdown-item" href="/RegisterAndLogin/Logout">
                        <i class="fas fa-sign-out-alt text-primary mr-2"></i>Đăng xuất
                    </a>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <a href="/RegisterAndLogin/Login" class="btn border">
        <i class="fas fa-user text-primary"></i>
    </a>
}